<div class="jumbotron">
  <h1 class="display-3">
  <%= @friend.first_name %>
  <%= @friend.last_name %></h1>  

  <p class="lead"><strong>Email:</strong> <%= @friend.email %> | <strong>Phone:   <%= @friend.phone %>
</strong> |   <strong>Twitter:</strong> <%= @friend.twitter %>
</p>
<br/>
  <hr class="my-2">
  <p>It uses utility classes for typography and
     spacing to space content out within the larger container.</p>
  <p class="lead">
  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-primary p-2" %>
<%= link_to 'Back', friends_path, class:"btn btn-dark p-2" %>
  </p>
</div>


